{% extends 'base.html' %}
{% load static %} 

{% block content %}
{% load crispy_forms_tags %}
<div class=" mh7 mr7 b-- bw2 ph3  w-70 flex w-100   "> 
    <div class="  w-70 tc  ">
        <div id="popup-1" class="dn  "> 
            <div>
            <form method="POST" action="{% url 'index' %}" id="questionform" enctype="multipart/form-data" class="questionform popup-content  b--black-90  b--solid bg-gold mw7 ml6 pa2  flex-auto          ">
              {% if request.user.is_authenticated %}
              {% csrf_token %}
              {{ form }}
              <button id="close-popup-1" type="submit" onclick="questionFunction()" class="f4  tc flex center  ">&nbsp;&nbsp;&nbsp;Pose&nbsp;&nbsp;&nbsp;</button>
              {% endif %}
            </form>
          </div>
            
          </div>
        
      <button class="fw3 f1   baskerville i bb bt tc " id="open-popup-1">Pose a Question</button>
      
  </div>
</div>
     {% for question in questions %}
    <div class="  w-70 mh7 mr7   bw1 ph4 mb4 mt1    ">
      <a class="baskerville fw5 f2 link color-inherit " href="{{ question.slug }}"><div class="baskerville i  lh-title tl mb1 hover-gold bb   ">{{ question.title}}</div></a>
      
     
      <code class=" f4 baskerville mb1  ">{{ question.description}}</code>
      <br>
      <div class=" mt3  ">posted by
      <a href="{% url 'profile_page' username=question.author.username %}" class="link:link hover-gold mt2  ">{{ question.author }}</a></div>
      
      <code class=""><h6>{{ question.date_added }}</h6></code>
    </div>
    {% endfor %}

    
    
       
    
<div class="mt3  mb6 ml7 f4 tc mr7   ">
 
    {% if questions.has_previous %}
        <a href="?page=1" class="tc f3 fw4  ">&laquo; first</a>
        <a href="?page={{ questions.previous_page_number }}" class="tc f4 fw4 ba"> previous </a>
    {% endif %}

    <span class="">
        Page {{ questions.number }} of {{ questions.paginator.num_pages }}
    </span>

    {% if questions.has_next %}
        <a href="?page={{ questions.next_page_number }}" class="tc f4   fw4"> next</a>
        <a href="?page={{ questions.paginator.num_pages }}" class="tc f4  fw4"> last &raquo;</a>
    {% endif %}
</div>


<script src="{% static 'main.js' %}"></script>
{% endblock %}
