{% extends 'base.html' %}
{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="main.js"></script>
  <meta name="viewport" content="initial-scale=1.0,width=device-width">
  <title>iTunes Search</title>
</head>
<body>
{% block content %}
  <h1 class="h1">A Place For Questions</h1>
     {% for question in questions %}
    <div class=".container-fluid">
      <a class="h4" href="{{ question.slug }}"><p>{{ question.title}}</p></a>
      <code class="h4">{{ question.url}}</code>
      <code class="h6">{{ question.description}}</code>
      <code class="h6"><h6>{{ question.date_added }}</h6></code>
    </div>
{% endfor %}
{% if request.user.is_authenticated %}
<div class="newQuestionPost">
<h4>Feel free to ask a question:</h4>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Pose</button>
</form>
</div>
{% endif %}
{% endblock %}

</body>
</html>
