{% extends "base.html" %}
{% load static %}
{% block content%}
<div class="bt bb  w-70 mh7 mr7 b--black-50  bw2 ph4 mb1 mt><div class="baskerville i  lh-title tl mb1    ">{{ question.title}}</div>
<a href="{% url 'profile_page' username=question.author.username %}">
<div class=" mt3 ">posted by
<a href="{% url 'profile_page' username=question.author.username %}">{{ question.author }}</a></div>
<p class="f3 bb ">{{question.description}}</p>

<div class="answer_style baskerville i f4 ba bg-white-60 pa4 br4 bw4" id="answer-list">
{% if question.answers.all  %}
    {% for answer in answers %}
    <div class="mv2" id="answer-{{ answer.id }}">
        <p><strong class=" f4    ">Answer by </strong><div class="f2">{{ answer.author }}</div></p>
        <p> {{answer.answer_time }}</p>
        <p class="  bb border f3  i fw1 f-headline     ">{{ answer.user_answer }}</p>

        <div>
              <button id="buttontostar" type="submit" >Star It</button>
        
        </div>
    </div>
    {% endfor %}
{% else %}
<p>There are no answers currently.</p>
{% endif %}
</div>
<div class="b-- bw2 ph3  flex  "> 
        <div id="popup-1" class="dn">
        <form method="POST" enctype="multipart/form-data" class="bg-gold bb bt popup-content b--black-90 b--solid ml7 mr7 br4 tc    pa2 ">
        {% csrf_token %}
        {{ form }}
        <button type="submit"  id="close-popup-1" onclick="answerFunction()" class=" f4 flex center">Submit Answer</button>
        </form>
        </div>
        </div>
   
                
        <button id="open-popup-1" class="  b-- bw2 ph3 f-5  flex ml7  ">Add an Answer</button>



















  
<br>
<br>
<br>
<br>
<br>
<script src="{% static 'main.js' %}"></script>
{% endblock %}
